.intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.card {
  margin-top: -1rem;
  margin-bottom: 5rem;
}

a {
  color: inherit;
}

.list {
  margin: 0 2rem !important;
}

main {
  text-align: center;
  padding: inherit;
}

h2 {
  text-align: center;
}

/* max-width restricted to 1000px */
.mw-1000 {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  /*border: 1px green solid;*/
}
